<div class="user-wrapper">
  <img *ngIf="profilePic" src="{{ profilePic }}" alt="" />
  <img
    *ngIf="!profilePic"
    src="../../../assets/images/profilepic-default.png"
    alt=""
  />

  <span class="username">
    <span class="name-checkin">
      <b> {{ username }} </b>
      <span class="user-check-in" *ngIf="location">
        is at <b> {{ location }} </b> <fa-icon [icon]="locationIcon"> </fa-icon>
      </span>
    </span>

    <span class="time-posted"> {{ getCreatedDate() }} </span>
  </span>
</div>
