<div class="nav-bar-wrapper">
  <nav class="navbar">
    <div class="logo">
      <h3>Velvet</h3>
    </div>

    <div class="header-search-input">
      <app-input [icon]="searchIcon"></app-input>
    </div>

    <div class="header-icons">
      <div class="icon">
        <fa-icon [icon]="questionCircleIcon"> </fa-icon>
      </div>
      <div class="icon">
        <fa-icon [icon]="envelopeIcon"> </fa-icon>
      </div>
      <div class="icon">
        <fa-icon [icon]="bellIcon"> </fa-icon>
      </div>
      <div class="user-icon" (click)="onAccountClick()">
        <img
          src="{{ currentUser.profile_picture && currentUser.profile_picture }}"
          alt="user on Velvet"
        />
      </div>
    </div>
  </nav>

  <div class="secondary-header">
    <div class="item" (click)="onHomeClick()">
      <fa-icon [icon]="homeIcon"> </fa-icon>
      <p>Home</p>
    </div>
    <div class="item">
      <fa-icon [icon]="newsIcon"> </fa-icon>
      <p>News</p>
    </div>
    <div class="item">
      <fa-icon [icon]="envelopeIcon"> </fa-icon>
      <p>Messenger</p>
    </div>
    <div class="item" (click)="onFriendsClick()">
      <fa-icon [icon]="friendsIcon"> </fa-icon>
      <p>Friends</p>
    </div>
    <div class="item" (click)="onPeopleClick()">
      <fa-icon [icon]="peopleIcon"> </fa-icon>
      <p>People</p>
    </div>
  </div>
</div>
