<div class="post-modal-outer">
  <div class="post-modal-inner">
    <fa-icon
      [icon]="closeIcon"
      class="close-icon"
      (click)="onCloseModel()"
      style="cursor: pointer; z-index: 10"
    ></fa-icon>
    <div class="post-model-photo">
      <img [src]="getImageUrl()" alt="" />
    </div>
    <div class="post-model-description">
      <app-user
        [profilePic]="currentPost.user.profile_picture"
        [username]="currentPost.user.full_name"
        [location]="currentPost.location"
        [createdAt]="currentPost.created_at"
      ></app-user>
      <p>
        {{ currentPost.content }}
      </p>

      <div class="post-model-likes-count" *ngIf="getLikesCount() > 0">
        <span>
          Liked by {{ getFirstLikeUserName() }}
          <span *ngIf="getLikesCount() > 1">
            and {{ getLikesCount() - 1 }} others
          </span>
        </span>
      </div>

      <hr />
      <div class="reactions-div">
        <app-reactions-area
          [likesCount]="getLikesCount()"
          [commentsCount]="comments.length"
          [sharesCount]="numberOfShares"
          [reactionsCenter]="true"
          [hasLiked]="isCurrentUserLiked()"
          [postID]="currentPost.id"
        ></app-reactions-area>
      </div>
      <hr />

      <div class="post-comments">
        <!-- <p>Read more comments</p> -->

        <div
          class="post-model-comment"
          style="margin-top: 10px"
          *ngFor="let comment of comments"
        >
          <app-user
            [username]="comment.user.full_name"
            [profilePic]="comment.user.profile_picture"
            [createdAt]="comment.created_at"
          ></app-user>

          <p>
            {{ comment.content }}
          </p>
        </div>
      </div>

      <div class="post-comment-input-area">
        <form [formGroup]="commentForm">
          <app-input
            placeholder="Enter your comment..."
            [icon]="rightArrow"
            formControlName="comment"
            (submitButtonClicked)="onCommentSubmitButtonClicked()"
          ></app-input>
        </form>
      </div>
    </div>
  </div>
</div>
