<div class="friend-wrapper">
  <div class="profile-pic-details">
    <div class="profile-pic">
      <img src="{{ profilePic }}" alt="" />
    </div>

    <div class="friend-details">
      <h3 style="cursor: pointer" (click)="onNameClick()">{{ name }}</h3>

      <div class="location-friends">
        <span *ngIf="type === 'friend'">
          Friend since {{ getFriendFromDate() }}
        </span>
        <span *ngIf="type === 'request'"
          >Requested {{ getFriendFromDate() }}</span
        >
        <span> Lives in {{ location }} </span>
        <!-- <span> 1024 Friends </span> -->
      </div>
    </div>
  </div>

  <div>
    <button
      *ngIf="type === 'friend'"
      class="unfriend-button"
      (click)="onUnfriendClick()"
    >
      Unfriend
    </button>

    <div>
      <button
        *ngIf="type === 'person'"
        class="unfriend-button"
        (click)="onAddFriendClick()"
      >
        Add Friend
      </button>

      <div *ngIf="type === 'request'" class="confirm-request-section">
        <button class="unfriend-button" (click)="onRequestConfirmClick()">
          Confirm
        </button>

        <button
          class="unfriend-button delete-button"
          (click)="onRequestDeleteClick()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
