.news-item-wrapper {
  color: white;
  width: 350px;
  height: 350px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  .news-item-image {
    width: 100%;
    height: 100%;
  }

  .news-item-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .news-item-details {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 18%;
    padding: 10px;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.6001751042213761) 100%,
      rgba(9, 9, 9, 0.5917717428768383) 100%,
      rgba(0, 212, 255, 1) 100%
    );

    h3 {
      font-size: 15px;
    }
  }
}
