<div class="news-description-wrapper">
  <div class="news-cover-photo">
    <img src="../../../assets/images/location1.jpg" alt="" />
  </div>

  <h1>Headline</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eveniet
    aut vero impedit aliquid, quidem, molestias facilis nam molestiae blanditiis
    amet est. A aperiam harum libero quas odit magni facilis. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Provident commodi soluta odio optio,
    sapiente natus expedita nesciunt, dolor officiis excepturi consectetur eos
    accusantium? Laboriosam beatae in provident delectus consectetur. Libero?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo labore qui quis
    nemo adipisci. Deleniti, soluta natus corporis itaque quibusdam iste eveniet
    beatae aut, tempora vitae saepe ex possimus. Quam? Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Ipsa id dolorum tenetur sunt architecto
    hic itaque vero aspernatur officia ad voluptate totam, sed rem eaque nemo?
    Libero, nobis nisi? Obcaecati!
  </p>

  <div class="news-description-reactions">
    <app-reactions-area></app-reactions-area>
  </div>

  <hr />

  <div class="comments-area">
    <div class="post-comment-input-area">
      <textarea>Enter your comment...</textarea>
      <button>Comment</button>
    </div>
  </div>

  <div class="post-comments">
    <p>Read more comments</p>

    <div class="post-model-comment">
      <app-user></app-user>

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
        dignissimos tenetur perferendis laudantium architecto similique commodi
        at sequi voluptatem, ipsa necessitatibus sit aut earum. Ipsa nemo fuga
        sed reiciendis suscipit?
      </p>
    </div>

    <div class="post-model-comment">
      <div>
        <app-user></app-user>

        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
          dignissimos tenetur perferendis laudantium architecto similique
          commodi at sequi voluptatem, ipsa necessitatibus sit aut earum. Ipsa
          nemo fuga sed reiciendis suscipit?
        </p>
      </div>

      <div class="comment-like">2 <fa-icon [icon]="heartIcon"> </fa-icon></div>
    </div>

    <div class="post-model-comment">
      <app-user></app-user>

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
        dignissimos tenetur perferendis laudantium architecto similique commodi
        at sequi voluptatem, ipsa necessitatibus sit aut earum. Ipsa nemo fuga
        sed reiciendis suscipit?
      </p>
    </div>
  </div>
</div>
