<div class="post-component-wrapper">
  <div *ngIf="isShared" class="shared-post-text">
    <p class="shared-post-notify">
      {{ sharedUserUsername }} shared {{ username }}'s post.
    </p>
    <hr />

    <div class="shared-user">
      <app-user
        [username]="sharedUserUsername"
        [profilePic]="sharedUserProfilePic"
        [createdAt]="sharedTime"
      ></app-user>
      <p>{{ sharedText }}</p>
    </div>

    <hr />
  </div>

  <div [ngClass]="{ 'shared-post-wrapper': isShared }">
    <div class="post-component-user">
      <app-user
        [username]="username"
        [profilePic]="userProfilePic"
        [location]="location"
        [createdAt]="createdAt"
      ></app-user>
    </div>

    <div class="post-content-text">
      <p>
        {{ postContent }}
      </p>
    </div>
    <div class="post-content-photos">
      <img src="{{ getImageLink() }}" alt="" />
    </div>
    <hr />

    <div>
      <app-reactions-area
        [likesCount]="likesCount"
        [commentsCount]="commentsCount"
        [sharesCount]="sharesCount"
      ></app-reactions-area>
    </div>
  </div>
</div>
