@import "../../shared/styles/colors.scss";

.post-component-wrapper {
  width: 100%;
  background: $main-color;
  min-height: 10rem;
  color: white;
  margin-top: 15px;
  border-radius: 4px;
  padding: 10px;

  hr {
    border: 0.5px solid rgb(119, 119, 119);
    border-bottom: none;
  }

  .shared-post-notify {
    margin: 5px 0 8px 0;
  }

  .shared-user {
    margin: 10px;

    p {
      margin: 5px 0;
    }
  }

  .shared-post-wrapper {
    padding: 40px;
  }

  .post-content-text {
    margin: 15px 0;
  }

  .post-content-photos {
    justify-items: center;
    object-fit: cover;
    margin-bottom: 15px;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
