<div class="post-component-wrapper">
  <div class="post-component-user">
    <app-user></app-user>
  </div>

  <div class="post-content-text">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo consectetur
      earum aperiam magnam quia quam distinctio natus porro facilis deserunt,
      amet fugiat, perferendis, quod nam ut incidunt corrupti explicabo eos?
    </p>
  </div>
  <div class="post-content-photos">
    <img src="../../../assets/images/location1.jpg" alt="" />
    <img src="../../../assets/images/location2.jpg" alt="" />
    <img src="../../../assets/images/location3.jpg" alt="" />
  </div>
  <hr />

  <div>
    <app-reactions-area></app-reactions-area>
  </div>
</div>
