<div class="post-create-input" (click)="onInputClick()">
  <div class="user">
    <!-- User Icon on the timeline -->
    <img src="{{ currentUser.profile_picture }}" alt="" />

    <div class="whats-up-text">
      <p>Hey, What's on your mind?</p>
    </div>
  </div>

  <div class="upload-options">
    <fa-icon [icon]="microphoneIcon"> </fa-icon>
    <fa-icon [icon]="imagesIcon"> </fa-icon>
  </div>
</div>

<div class="post-create-popup-outer" *ngIf="isModelOpen">
  <div class="post-create-popup-inner">
    <div class="post-create-heading">
      <h2>Create Post</h2>
      <fa-icon
        [icon]="closeIcon"
        class="close-icon"
        [size]="'2x'"
        (click)="onInputClose()"
      >
      </fa-icon>

      <fa-icon
        [icon]="backArrowIcon"
        class="backarrow-icon"
        (click)="onLocationClick()"
      ></fa-icon>
    </div>
    <hr />
    <div class="post-create-content-area" *ngIf="isLocationSelectOpen == false">
      <div class="user-details-area">
        <img src="{{ currentUser.profile_picture }}" alt="" />
        <span class="post-create-username">
          {{ currentUser.first_name }} {{ currentUser.last_name }}
          <span *ngIf="selectedLocation">
            is at {{ selectedLocation }}
            <fa-icon [icon]="locationIcon"></fa-icon>
          </span>
        </span>
      </div>
      <div class="post-content-typing-area">
        <textarea [(ngModel)]="postContent" name="" id=""> </textarea>
      </div>

      <img
        style="width: 100%; height: 350px; object-fit: cover"
        alt="uploaded-image"
        [src]="uploadedImage"
        *ngIf="uploadedImage"
      />

      <div class="post-content-options-area">
        <p>Add to your post</p>

        <form [formGroup]="imageUploadForm">
          <input
            type="file"
            [formControlName]="'image'"
            (change)="onUploadImage($event)"
          />
        </form>
        <fa-icon [icon]="locationIcon" (click)="onLocationClick()"></fa-icon>
        <!-- <fa-icon [icon]="imagesIcon"></fa-icon> -->
      </div>

      <div class="post-submit" (click)="onCreatePost()">
        <button>Post</button>
      </div>
    </div>

    <div class="location-select-container" *ngIf="isLocationSelectOpen">
      <form [formGroup]="locationSearchForm">
        <p>Enter your location:</p>
        <app-input
          [icon]="locationSearchIcon"
          usedComponent="postLocation"
          inputType="text"
          formControlName="locationQuery"
          (ngModelChange)="handleLocationChange($event)"
        ></app-input>
      </form>

      <div class="location-select-div">
        <div
          *ngFor="let location of locations; index as i"
          (click)="handleLocationSelect(i)"
        >
          <p class="location-item">
            {{ location.city }}, {{ location.region }}, {{ location.country }}
          </p>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
