.photos-component-wrapper {
  width: 70vw;
  margin: 0 auto;
  color: white;

  h2 {
    margin: 2rem 0;
  }

  .photos-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem 0;
    row-gap: 1rem;
  }
}
