<div class="profile-summary-wrapper">
  <div class="profile-photo">
    <img src="{{ profilePic }}" alt="" />
  </div>

  <div class="profile-info-area">
    <div class="name">
      <div>
        <h3>{{ name }}</h3>
        <small>Lives in {{ location }}</small>
      </div>

      <!-- <button class="follow-button">Add Friend</button> -->
      <button
        (click)="onEditProfileClick()"
        class="follow-button"
        *ngIf="userType() == CURRENT_USER"
      >
        Edit Profile
      </button>

      <button
        (click)="onLogoutClick()"
        class="follow-button"
        *ngIf="userType() == CURRENT_USER"
      >
        Logout
      </button>
    </div>

    <div class="profile-description" *ngIf="description">
      {{ description }}
    </div>

    <div class="website-url" *ngIf="website">
      <fa-icon [icon]="linkIcon"></fa-icon>
      <p>{{ website }}</p>
    </div>

    <div class="profile-statistics">
      <span>
        <b> {{ postCount }} Posts </b>
      </span>
      <!-- <span> <b> 105M Followers </b> </span> -->
      <span>
        <b>
          {{ friends }} <span *ngIf="friends == 1"> Friend </span>
          <span *ngIf="friends != 1"> Friends</span>
        </b>
      </span>
    </div>
  </div>
</div>
