<app-loading *ngIf="isFormLoading"></app-loading>
<div class="login-page-wrapper">
  <div class="site-description">
    <div *ngIf="!isEditing">
      <h2>Welcome to VELVET</h2>
      <p>Enter your details to create your account</p>
    </div>

    <div *ngIf="isEditing">
      <h2>VELVET</h2>
      <p>Edit your profile</p>
    </div>
    <p class="login-text error-text" *ngIf="!isFormValid">{{ formError }}</p>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit($event)">
    <div class="firstname">
      <label for=""> First Name: </label>
      <app-input
        formControlName="first_name"
        required
        [icon]="emailIcon"
      ></app-input>
    </div>

    <div class="secondname">
      <label for=""> Last Name: </label>
      <app-input
        formControlName="last_name"
        required
        [icon]="emailIcon"
      ></app-input>
    </div>

    <div class="email">
      <label for=""> Email: </label>
      <app-input
        formControlName="email"
        required
        [icon]="emailIcon"
      ></app-input>
    </div>

    <div class="password">
      <label for=""> Password: </label>
      <app-input
        formControlName="password"
        required
        [inputType]="'password'"
        [icon]="passwordIcon"
      ></app-input>
    </div>

    <div class="birthdate">
      <label for=""> Birthdate: </label>
      <app-input
        formControlName="birthdate"
        [icon]="passwordIcon"
        [inputType]="'date'"
        required
      ></app-input>
    </div>

    <div class="profile-picture">
      <label for=""> Profile Picture: </label>
      <app-input
        formControlName="profile_picture"
        [icon]="passwordIcon"
        [inputType]="'file'"
        required
        (change)="onUploadImage($event)"
      ></app-input>
    </div>

    <div class="location">
      <label for=""> Location: </label>
      <ng-select
        class="custom"
        (search)="onSearch($event)"
        [loading]="isSelectLoading"
        formControlName="location"
      >
        <ng-option *ngFor="let location of locations" [value]="location">
          {{ location.city }}, {{ location.region }}, {{ location.country }}
        </ng-option>
      </ng-select>
    </div>

    <button>{{ isEditing ? "Edit Profile" : "Create an account" }}</button>

    <p (click)="onLoginClick()" class="not-have-account-text">
      Not have an account? Click here to register!
    </p>
  </form>
</div>
