<div class="posts-screen">
  <app-post-create></app-post-create>
  <div class="timeline-posts" *ngFor="let post of posts; index as i">
    <div class="original-post" *ngIf="!post.is_shared_post">
      <app-post
        [postContent]="post.content"
        [location]="post.location"
        [likesCount]="post.likes_count"
        [commentsCount]="post.comments_count"
        [sharesCount]="post.shares_count"
        [username]="post.user.full_name"
        [userProfilePic]="post.user.profile_picture"
        [postImage]="post.photos"
        [createdAt]="post.created_at"
      ></app-post>
    </div>

    <div class="shared-post" *ngIf="post.is_shared_post">
      <app-post
        [postContent]="post.post.content"
        [location]="post.post.location"
        [likesCount]="post.post.likes_count"
        [commentsCount]="post.post.comments_count"
        [sharesCount]="post.post.shares_count"
        [username]="post.post.user.full_name"
        [userProfilePic]="post.post.user.profile_picture"
        [postImage]="post.post.photos"
        [createdAt]="post.post.created_at"
        [isShared]="post.is_shared_post"
        [sharedUserUsername]="post.user.full_name"
        [sharedUserProfilePic]="post.user.profile_picture"
        [sharedText]="post.shared_content"
        [sharedTime]="post.created_at"
      ></app-post>
    </div>
  </div>
</div>
<!-- <app-post-modal></app-post-modal> -->
