.post-reactions-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
  gap: 20px;
  margin-top: 4px;

  .like-icon,
  .share-icon,
  .comment-icon {
    cursor: pointer;
  }
}
