/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ngx-toastr/toastr";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova";
}

body {
  background: #141433;
  line-height: 1.4;
}

.error-text {
  color: red;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/ProximaNova.otf") format("opentype");
}

.toast-container .ngx-toastr {
  box-shadow: none !important;
}

.toast-info {
  background: #252569;
}
