/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova";
}

body {
  background: #141433;
  line-height: 1.4;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/ProximaNova.otf") format("opentype");
}
