<div class="user-profile-wrapper">
  <app-profile-summary
    [name]="getFullName()"
    [profilePic]="currentUser.profile_picture"
    [description]="currentUser.description"
    [website]="currentUser.website"
    [postCount]="currentUser.posts.length"
    [friends]="currentUser.friends"
    [currentUserId]="currentUser.id"
  >
  </app-profile-summary>

  <div class="photos-area">
    <span><b> Photos </b></span>
  </div>

  <div class="photos-wrapper">
    <app-photo></app-photo>
    <app-photo></app-photo>
    <app-photo></app-photo>
    <app-photo></app-photo>
  </div>

  <app-post></app-post>
  <app-post></app-post>
  <app-post></app-post>
</div>
